
/**
**  PROJECT SECTION
**/

.project-section {
//background-color: $powder-rose;
background-color: $lightgray;
  padding-bottom: 2em;

  .description.proj{
    text-align: center;
    font-style: italic;
  }


}
  .project-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .project-content {
      background-color: $white;
      margin: .5em;
      padding: .5em;
      height: 15em;
      width: 100%;
      overflow: hidden;
      transition: all .3s ease-in;
      transition-delay: .2s;
      box-shadow: 0px 4px 10px hsla(357, 1%, 30%, 0.98);
      border-radius: 2%;

      .top-tile-content {
        height: 15em;
        transition: all .3s ease-in;

        h3 {
          text-align: center;
          transition: all .3s ease-in;
        }

        img {
          display: block;
          margin: auto;
          width: 5em;
          height: 5em;
          transition: all .3s ease-in;
        }
        a {
          display: block;
          text-align: center;
          padding-top: .5em;
        }
      }

      p {
        position: relative;

        text-align: center;

      }
      .project-res {
        font-style: italic;
        font-size: .9em;
        margin-bottom: .5em;
      }
      .project-des {
        margin: .5em;

      }



    }
  }
  .project-content.proj:hover {
    //transform: scale(1.05);
    //box-shadow: 10px 10px 10px 5px hsla(0, 0%, 31%, 0.7);
    z-index: 0;

    .top-tile-content {
      height: 5em;
      h3{
        margin: 0px;
        padding: 0px;
        font-size: 1.2em;
      }
      img{
        width: 3em;
        height: 3em;
      }
      p {
        top: 0;
      }
    }
  }


  @media screen and (min-width: 50em) {

    .project-content {
      max-width: 30em;
    }

  }
