</div><!-- .content -->
  </div><!-- .main-wrap -->
        <footer class="footer-area">
            <p></p>
            {% include nav.html navclass='nav-bottom'%}
            <div class="resume-download">
              <!-- <button class="btn">Classic Resume</button> -->
              <button class="btn"><a href="{{site.baseurl}}/assets/visual-resume.pdf" download="visual-resume">Visual Resume</a></button>
            </div>
        </footer>
    </div><!-- .outer-wrap -->
    <script type="text/javascript" src="{{site.baseurl}}/assets/JS/script.js"></script>
  </div><!-- .body-wrapper-->
</body>

</html>
