 {% include head.html %}

<a class="skip-link screen-reader-text" href="#content">Skip to content</a>

<div class="outer-wrap">

  <header class="masthead">

    <div class="centered">
      <div class="site-branding">
        <h1 class="site-title">{{site.title}}</h1>
        <p class="title-caption">
          {{ site.title_caption }}
        </p>
      </div>
      <!-- .site-title -->
    </div>
    <!-- .centered -->
    <nav class="nav-main menu">
      <ul>
        {% for link in site.data.menu %}
          <li>
            <a href="{{site.baseurl}}{{link.href}}">{{ link.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </header>
  <!-- .masthead -->
  <div class="content">
    <main class="main-area">
