<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Flexbox Holy Grail Demo</title>
    <meta name="description" content="Flexible box holy grail layout demo from Morten Rand-Hendriksen, staff author at lynda.com"/>

    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css" type="text/css" media="all">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script type="text/javascript" src="./d3.v4.js"></script>
</head>

<body>
