 {% include head.html %}

<a class="skip-link screen-reader-text" href="#content">Skip to content</a>

<div class="outer-wrap">

  <header class="masthead">

    <div class="centered">
      <div class="site-branding">
        <h1 class="site-title">Flexbox Demo: Holy Grail Layouts</h1>
      </div>
      <!-- .site-title -->
    </div>
    <!-- .centered -->
    <nav class="main-menu">
      The menu would go here
    </nav>
  </header>
  <!-- .masthead -->
  <div class="content">
    <main class="main-area">
