/**-------------------------------**\
**
**        # CATCH #
**    This is a catch for elements and styles that I have not sorted yet
\**-------------------------------**/


/**
**    NAV TREE TEST
**/
.nav {


}

.nav ul {
  display: flex;
  list-style-type: circle;
  list-style-position: inside;
  li{
    margin: 2%;
  }
}

.nav-tree {
  width: 100%
}

.tree-root {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
}
































/////////////////////////
// .site-title a {
//     color: hsl(5, 45%, 95%);
//     text-decoration: none;
// }
//
// .site-title a:hover {
//     text-decoration: underline;
// }
//
