// DELIVERABLES
.row {
  .col.table-of-contents {
      position: fixed;
      right: 0px;
      height: 100%;
      padding: 2rem;
      ul {

          top: 10px;
      }
  }
}


.hero-header {
  .hero-wrap {
    .hero-img {
      max-height: 600px;
      // opacity: .5;
      object-fit: cover;
    }
  }
}

//*********************//
// HOME PAGE


// HOOME HERO
#home-hero {
  
    .col:nth-child(1){
      text-align: right;
      h2{letter-spacing: 1rem;
        font-size: 5rem;}
      h2:nth-child(1) {
       
      }
      h2:nth-child(2) {
        font-size: 5rem;
      }
      h2:nth-child(3) {
        font-size: 5rem;
      }
    }
    .col:nth-child(2){
      text-align: left;
      a {
        margin-left: 0px;
      }
    }
  
}

.icons  {
  &.huge {
    height: 8rem;
  }
  &.large {
    height: 6rem;
  }
  &.medium {
    height: 4rem;
  }
  &.small {
    height: 3rem;
  }
}

//*********************//
// GET IN TOUCH COMPONENT

.get-in-touch {
  #coffee-cup-icon {
    height: 80px;
    fill: #FFFFFF;
    stroke: #333030;

  }
  h6
  {
    padding: 1em;
  }
  text-align: center;
  padding: 1em;
  margin: 3em;
}

@media screen and (min-width: 400px){

}

@media screen and (min-width: 700px){
  #home-tag {
    text-transform: none;
  }

}

@media screen and (min-width: 1024px){

}

@media screen and (min-width: 1440px){
  // SITEMAP
}
