// SPACE BETWEEN row elm

.divider {
  width: 50vw;
  height: 3px;
  background-color: $primary-color;
  margin: auto;
  margin-bottom: 2rem;
}

.space-vert {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.space-hor {
  padding-right: 4rem;
  padding-left: 4rem;
}
.space-left {
  padding-left: 4rem !important;
}

.space-right {
  padding-right: 4rem !important;
}
.space-bottom {
  padding-bottom: 4rem;
}
.space-top {
  padding-top: 4rem;
}


@media screen and (min-width: 400px){
  .space-row {
    .row {
      padding-top: 4rem;
      padding-bottom: 4rem;
    }
  }

  .space {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .space-left {
    padding-left: 4rem !important;
  }

  .space-right {
    padding-right: 4rem !important;
  }
  .space-bottom {
    padding-bottom: 4rem;
  }

}

@media screen and (min-width: 700px){

}

@media screen and (min-width: 1024px){

}

@media screen and (min-width: 1440px){

}
