// SPACE BETWEEN row elm

.space {
  .row {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.padding-right {
  padding-left: 4rem;
}

.text-body-lg {
  font-size: 1.2em;
}

.text-body-sm {
  font-size: .8em;
}
