
  .about-section {
  .main-profile-img {
    display: block;
    height: 10em;
    width: 10em;
    border-radius: 50%;
    margin: auto;
    object-fit: contain;
  }

  .social-links {
    text-align: center;
    letter-spacing: 1em;
    padding: 1em 0.5em 2em;
    height: 1em;
  }
}
