.home-wrapper {
  section {
    h2 {
      padding-top: 1.8em;
      text-align: center;
    }
    margin: auto;
    padding: 1.5em;
  }

  .about-section {
    .main-profile-img {
      display: block;
      height: 10em;
      width: 10em;
      border-radius: 50%;
      margin: auto;
      object-fit: contain;
    }

    .social-links {
      text-align: center;
      letter-spacing: 1em;
      padding: 0.5em 0.5em 1.5em;
      height: 1em;
    }

    p{
      max-width: 35em;
      margin: auto;
    }
  }
}



.my-value {
  text-align: center;
  .value-wrap {
    .value {
      .value-icon {
        text-align: center;
        font-size: 3em;
        padding: .5em;
      }
      caption {
        font-style: italic;
      }
      p {
        padding: .7em;
        text-align: left;
      }
    }

  }
}





@media screen and (min-width: 50em) {
.my-value {
  .value-wrap {
    display: flex;

  }
}
}
