---
layout: default
title: webkit
permalink: /about/
---
{% include header.html %}

<main>


<section id="about" class="about-section scrollspy">
      <h2>About</h2>
    <div class="row" >  <div class="col s12 m6 l6">
      <p>
       A little about me, I enjoy producing products and content while listening to jazz and dance music. Not together. 
      </p>
    </div><div class="col s12 m6 l6"><img id="main-image" class="main-profile-img circle" src="{{site.baseurl}}{{site.profile_image}}" />
      <div class="social-links ">
        <a href="mailto:{{site.email}}"><i class="fas fa-envelope fa-lg"></i></a>
        <a href="{{site.github_link}}"><i class="fab fa-github fa-lg"></i></a>
        <a href="{{site.codepen_link}}"><i class="fab fa-codepen fa-lg"></i></a>
        <a href="{{site.linkedin_link}}"><i class="fab fa-linkedin fa-lg"></i></a>
        <a href="{{site.facebook_link}}"><i class="fab fa-facebook fa-lg"></i></a>
        <a href=""><i class="fab fa-instagram fa-lg"></i></a>
        <!-- <a href="http://www.flickr.com/photos/zlucas/"></a><i class="fab fa-flickr fa-lg"></i></a> -->
      </div>
      <h6>
        I amass and gather whatever skills are necessary for me to develop, systems, tools, and processes to produce products with the great value
      </h6></div></dic>
    </section>
    <div class="divider">

    </div>
      <section id="my-value" class="scrollspy">
        <div class="row">
          {% for value in site.data.value %}
          <div class="col s12 m6 l3">
            <div class="icon-block">
              <h2 class="center"><i class="material-icons">{{value.icon}}</i></h2>
              <h5 class="center">{{ value.title }}</h5>

              <p class="light">{{value.description}}</p>
            </div>
          </div>
          {% endfor %}
        </div>
      </section>
</main>
