---
layout: default
title: About
permalink: /about/
---
{% include header.html %}
<main class="about-section">


  <section id="about" class="scrollspy">
    <h2>About</h2>
    <div class="row">
      <div class="col s12 m6 l6">
        <p>
          A little about me, I enjoy a little jazz, a lot of coffee, and then jamming away on my projects....ok, sometime it is dance music.</br>
        </p>
        <p>
           I am all about being cross functional. I want to understand the roles and responsibilities of my teamsmates so I make their lives easier and we can focus on building something awesome.
        </p>
        <p class="text-body-lg">
          Why do I invest in the skills I do?
          Because I have a compulsion for everything I touch to be;
          <ul class="text-body-lg browser-default">
            <li>
              Aesethic
            </li>
            <li>
              Functional
            </li>
            <li>
              Planned and executed like a dang fine watch
            </li>
          </ul>
          This is why I devoure and train everything there is to know about design, development and planning and management...
        </p>
      </div>
      <div class="col s12 m6 l6">
        <div class="avatar-1">
              {% include avatar/luc/v1.svg %}
        </div>
    </div>
  </section>
  <div class="divider">

  </div>

  <section class="skills">
    <h3>Skills</h3>
    <p>
        <h6>Skills that help my build</h6>
    </p>
    <ul class="collapsible">
      <li>
        <div class="collapsible-header">
          <h5>Design: Blue Mage</h5>
        </div>
        <div class="collapsible-body"><span>
         <div class="row">
       <!--skill-scale -->
       <div class="col s2 m2 l2">
         <h6>Skill</h6>
       </div>
       <div class="col s2 m2 l1">
         <h6 class="center">Acquainting</h6>
       </div>
       <div class="col s2 m2 l2">
         <h6 class="center">Beginer</h6>
       </div>
       <div class="col s2 m2 l2">
         <h6 class="center">Competent</h6>
       </div>
       <div class="col s2 m2 l2">
         <h6 class="center">Proficient</h6>
       </div>
       <div class="col s2 m2 l2">
         <h6 class="center">Expert</h6>
       </div>
       <div class="col s2 m2 l1">
         <h6 class="center">Master</h6>
       </div>
      </div>
      {% for skill in site.data.skills %}
      {% if skill.type == "design" %}
      <div class="row skill-chart">
        <div class="skill-labels col s2 m2 l2">
        <ul>
          <li>
            <strong>{{skill.title}}</strong>
          </li>
        </ul>
        </div>
          <div class="col m10 l10 ">
            <ul class="skill-bars">
              <li class="z-depth-2">
                <div class="progress {{skill.level}}">
                  <!-- <span>90%</span> -->
                </div>
              </li>
            </ul>
          </div>
        </div>
    {% endif %}
    {% endfor %}

    </span>
    </div>
    </li>
    <li>
      <div class="collapsible-header">
        <h5>Development: Junior Ninja</h5>
      </div>
      <div class="collapsible-body"><span>
       <div class="row">
     <!--skill-scale -->
     <div class="col s2 m2 l2">
       <h6>Skill</h6>
     </div>
     <div class="col s2 m2 l2">
       <h6 class="center">Beginer</h6>
     </div>
     <div class="col s2 m2 l2">
       <h6 class="center">Competent</h6>
     </div>
     <div class="col s2 m2 l2">
       <h6 class="center">Proficient</h6>
     </div>
     <div class="col s2 m2 l2">
       <h6 class="center">Expert</h6>
     </div>
     <div class="col s2 m2 l2">
       <h6 class="center">Master</h6>
     </div>
    </div>
    {% for skill in site.data.skills %}
    {% if skill.type == "development" %}
    <div class="row skill-chart">
      <div class="skill-labels col s2 m2 l2">
      <ul>
        <li>
          <strong>{{skill.title}}</strong>
        </li>
      </ul>
      </div>
        <div class="col m10 l10 ">
          <ul class="skill-bars">
            <li class="z-depth-2">
              <div class="progress {{skill.level}}">
                <!-- <span>90%</span> -->
              </div>
            </li>
          </ul>
        </div>
      </div>
  {% endif %}
  {% endfor %}

     </span></div>
    </li>

    </ul>
  </section>

  <div class="divider"></div>

  <section id="my-value" class="scrollspy">
    <h3>Value Delivered</h3>
    <div class="row">
      {% for value in site.data.value %}
      <div class="col s12 m6 l3">
        <div class="icon-block">
          <h2 class="center"><i class="material-icons">{{value.icon}}</i></h2>
          <h5 class="center">{{ value.title }}</h5>

          <p class="light">{{value.description}}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
  {% include get-in-touch.html %}
</main>
