---
layout: default
title: About
permalink: /about/
---
{% include header.html %}
<main class="about-section">


  <section id="about" class="scrollspy">
    <h2>About</h2>
    <div class="row">
      <div class="col s12 m6 l6 text-body-lg ">
        <p>
          A little about me, I enjoy a little jazz, a lot of coffee, and then jamming away on my projects....ok, sometime it is dance music.</br>
        </p>
        <p class="flow-text">
          Why do I invest in the skills I do?
          Because I have a impulse for everything I touch to be;
          <ul class="text-body-lg browser-default">
            <li>
              Aesethic
            </li>
            <li>
              Functional
            </li>
            <li>
              Planned and executed like a dang fine watch
            </li>
          </ul>
        </p>
      </div>
      <div class="col s12 m6 l6">
        <div class="avatar-1">
              {% include avatar/luc/v1.svg %}
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m6 l6">

    </div>
    <div class="col s12 m6 l6 text-body-lg">
      <em>
       I have a compulsion towards ecosystem optimization. For any given system, I  question, analyze and deliver solutions that are effective uses of said system's resources.   I endeavor to understand the roles and constraints my teammates are optimizing for so I make their lives easier and we can focus on building something awesome.
    </em>
    </div>
  </div>
  </section>
  <div class="divider">

  </div>

  <div class="divider"></div>

  <!-- <section id="my-value" class="scrollspy">
    <h3>Value Delivered</h3>
    <div class="row">
      {% for value in site.data.value %}
      <div class="col s12 m6 l3">
        <div class="icon-block">
          <h2 class="center"><i class="material-icons">{{value.icon}}</i></h2>
          <h5 class="center">{{ value.title }}</h5>

          <p class="light">{{value.description}}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </section> -->
  {% include get-in-touch.html %}
</main>
