/* Base styles */

.site-title {
  margin-bottom: 0;
}
.main-menu {
  padding: .4em 1em;
  color: white;
  background: hsl(0, 0%, 20%);
}

.post-content {
  padding: 0 1.4em 1.4em;
}



.footer-area {
  padding: .4em 1em;
  text-align: center;
  background: hsl(0, 0%, 75%);
}
