---
layout: page-hero
title: "Freebird Rides Project"
description: "A summary and showcase of work done on the Freebird rides"
permalink: /freebird-rides-project/
hero-1x: /pages/projects/freebird-rides/freebird-rides-assets/hero/freebird-hero-700.jpg 700w
hero-2x: /pages/projects/freebird-rides/freebird-rides-assets/hero/freebird-hero-1628.jpg 1628w
hero-3x: /pages/projects/freebird-rides/freebird-rides-assets/hero/freebird-hero-2321.jpg 2321w
hero-4x: /pages/projects/freebird-rides/freebird-rides-assets/hero/freebird-hero-2880.jpg 2880w
img2-1x:
img2-2x:
img2-3x:
img2-4x:
next:  /luc-inc-project/
previous: /lifelines-project/
---

{% include project-arrows.html %}
<main class="{{page.class}} space project text-body-lg">
  <section class="product " alt="situation">
    <div class="row container">
      <div class="col s12 m6 l6">
        <h3>Product</h3>
        <p class="text-body-lg ">
          Freebird Rides is a digital customer acquisition marketplace that allows businesses to pay for Uber rides for customers to there locations. Leveraging a suite of technologies to provide a direct return on investment metrics to the business.
        </p>
      </div>
      <div class="col s12 m6 l6">
      </div>
    </div>
  </section>
  <section class="project space bg-color" alt="task">
    <div class="row container">
      <div class="col s12 m6 l6">
      </div>
      <div class="col s12 m6 l6">
        <h3>Project</h3>
        <p class="text-body-lg">
          Produce physical and digital brand assets including mobile, web user interfaces, and marketing materials. Test quality assurance and report on product functionality.
        </p>
      </div>
    </div>
  </section>
  <section>
    <div class="row" style="margin: 0px;">
      <div class="col s12 m12 l12">
        <img src="{{site.baseurl}}/pages/projects/freebird-rides/freebird-rides-assets/showcase/brand-iterations@2x.jpg" />
      </div>
    </div>
    <div class="row" style="margin: 0px;">
      <div class="col s12 m12 l12">
        <img  src="{{site.baseurl}}/pages/projects/freebird-rides/freebird-rides-assets/showcase/payment-diagram-showcase@2x.jpg" />
      </div>
    </div>
    <div class="row" style="margin: 0px;">
      <div class="col s12 m12 l12">
        <div class="space center-align">
          <a href="https://xd.adobe.com/view/f01b3a3f-4366-4869-b156-458a7e02c3ad/" class="link">Check out an early Freebird Rides prototype here</a>
            <img  style="width: 300px; margin: auto" class="" src="{{site.baseurl}}/pages/projects/freebird-rides/freebird-rides-assets/showcase/Intro@2x.jpg" />
        </div>
      </div>
    </div>

  </section>
  <section class="process" alt="action">
    <div class="row container ">
      <div class="col s12 m6 l6">
        <h3>Process</h3>
        <p class="text-body-lg">

          <p>Since many of the challenges faced were highly nuanced. Each was tackled meticulously, requiring insight and deliberation from all members of the team. Due to the, stage of growth of the product, the unique suite of technologies used and user
            cultures in play. The process generally applied against any problem was a check against a series of questions.</p>
          <ul class="browser-default">
            <li><p>
              What is the priority with respect to the rest of the product?
            </p></li>
            <li><p>
              Is there a solution in place?
            </p></li>
            <li><p>
              What data is available against the problem?
            </p></li>
            <li><p>
              What data or information is needed?
            </p></li>
            <li><p>
              What is the cost of acquiring this data or information?
            </p></li>
          </ul>

        </p>
      </div>
      <div class="col s12 m6 l6">

      </div>
    </div>
  </section>
  <section class="reflections bg-color space" alt="results">
    <div class="row container">
      <div class="col s12 m6 l6">
        <h3>Result</h3>
        <p class="text-body-lg">
          The experience resulted in the production of multiple product iterations and deployments from minimal viable product to stable scaleable full production versions.
        </p>
      </div>
      <div class="col s12 m6 l6">

        <h4><em>Deliverables</em></h4>
        <ul class="browser-default">
          <li>
            <p>Print Design</p>
          </li>
          <li>
            <p>User flow Diagraming</p>
          </li>
          <li>
            <p>Quality Assurance Testing</p>
          </li>
        </ul>
      </div>
    </div>
  </section>
</main>
  {% include get-in-touch.html %}
