$font-stack-secondary: 'Libre Baskerville', Baskerville, Cambria, serif;

.caption {
 font-size: .6em;
}

.placeholder {
  font-style: italic;
  color: lighten($input-border-color, 20%)
}

.font-primary-color {
  color: $primary-color;
}

.font-secondary-color {
  color: $primary-color;
}


.type-two {
  font-family: $font-stack-secondary;
}

a.link {
  font-family: $font-stack-secondary;
  text-transform: uppercase;
  text-decoration: underline;
  letter-spacing: .2rem;
  font-style: italic;
  // transition: all .2s linear;
  .link-light {
  }
  .link-dark {

  }
}

a.link-light:hover {
 color:  color("amber", "darken-1");
}





@media screen and (min-width: 400px){

}

@media screen and (min-width: 700px){

}

@media screen and (min-width: 1024px){

}

@media screen and (min-width: 1440px){

}
