$font-stack-secondary: 'Libre Baskerville',  Cambria, Georgia, serif;

.type-twos {
  font-family: $font-stack-secondary;
}

.text-body-lg {
  font-size: 1.2rem;
  line-height: 2em;
}

.text-body-sm {
  font-size: .8em;
}

.caption {
 font-size: .6em;
}

.blockquote-lg {
  font-size: 1.7rem;
  line-height: 2em;
}


.placeholder {
  font-style: italic;
  color: lighten($input-border-color, 20%)
}

.font-primary-color {
  color: $primary-color;
}

.font-secondary-color {
  color: $primary-color;
}



@media screen and (min-width: 400px){

}

@media screen and (min-width: 700px){

}

@media screen and (min-width: 1024px){

}

@media screen and (min-width: 1440px){

}

a.link {
    font-family: $font-stack-secondary;
    letter-spacing: .2rem;
    line-height: normal;
    text-decoration: underline;
    text-transform: uppercase;
    font-style: italic;
  }
.link-light {

}

.link-dark {

}

.link:hover {
  color: adjust-color($color-palette-a, $lightness: 30%);
}
