.brand {
  background-color: $primary-color;
}

.brand-disabled {

    background-color: transparentize($primary-color, 0.70);
}

.brand-hover {
    background-color: scale-color($primary-color, $lightness: -20%);
}

.brand-pressed {
  background-color: white;
  color: $primary-color;
  border: $primary-color solid 2px;
  box-sizing: border-box;
}

.secondary-color {
  background-color: $secondary-color;
}

.sec-brand-disabled {
  color: black;
  background-color: transparentize($secondary-color, 0.70);
}

.sec-brand-hover {
    background-color: adjust-color($secondary-color, $lightness: -10%);
    color: white;
}

.sec-brand-pressed {
  background-color: white;
  color: $secondary-color;
  border: $secondary-color solid 2px;
  box-sizing: border-box;
}


// Greyscale

// White is set by materialize

$dark: hsla(0, 1%, 10%, 0.98);

.dark {
  background-color: $dark;
}
//
// .grey-d-3 {
//   background-color: scale-color($dark, $lightness: 10%);
// }
.grey-d-2 {
  background-color: $dark;
}
.grey-d-1 {
  background-color: scale-color($dark, $lightness: 20%);
}
// .grey-m-3 {
//   background-color: scale-color($dark, $lightness: 60%);;
// }
.grey-m-2 {
  background-color: scale-color($dark, $lightness: 50%);;
}

.grey-m-1 {
  background-color: scale-color($dark, $lightness: 75%);;
}
// .grey-l-3 {
//   background-color: scale-color($dark, $lightness: 75%);;
// }
.grey-l-2 {
  background-color: scale-color($dark, $lightness: 90%);;
}

.grey-l-1 {
  background-color: scale-color($dark, $lightness: 95%);;
}
