.text-body-lg {
  font-size: 1.2em;
}

.text-body-sm {
  font-size: .8em;
}

.caption {
 font-size: .6em;
}


.placeholder {
  font-style: italic;
  color: lighten($input-border-color, 20%)
}

.font-primary-color {
  color: $primary-color;
}

.font-secondary-color {
  color: $primary-color;
}



@media screen and (min-width: 400px){

}

@media screen and (min-width: 700px){

}

@media screen and (min-width: 1024px){

}

@media screen and (min-width: 1440px){

}
