/**-------------------------------**\
**
**        # STYLING OF THE POST FEED SECTION #
**
\**-------------------------------**/

/*---------------------vvv PLAYGROUND vvv-------------------------*/

body {
  background-color: $lightgray;
  // display: flex;
  height: 100%;
}

.main {
  margin: 0;
  background-color: $lightgray;
  padding-bottom: 5em;
}

article {
  overflow: hidden;
  margin-top: 5em;
  margin: 2em;
  background-color: $white;
  border-radius: 5%;
  text-overflow: clip;
  box-shadow: 1px 1px 2px 2px $gray;

}

.article-img {

  overflow: hidden;
  img {
    overflow: hidden;
    object-fit: fill;
  }

}

.article-content {
  margin: 2em;

  p {

    line-height: 2em;
    font-weight: lighter;
  }
}


/*---------------------vvv STABLE vvv-------------------------*/
