---
layout: default
title: "Luc.inc Productions"
description: "Luc.Incs projects and value promise"
---
{% include header.html %}

<div class="main space">
  <section id="home-hero" class="hide-on-small-only">
    <div class="row hide-only-on-small space">
      <div class="col s12 m6 l6">
        <h2>Question</h2>
        <h2>Analyze</h2>
        <h2>Convey</h2>
      </div>
      <div class="col s12 m6 l6">

      </div>

    </div>
    <!-- <img src="{{site.baseurl}}/assets/img/main-hero/main-hero@1x.jpg" /> -->
  </section>
  <section class="container grey lighten-5 space-row">
    <div class="row">
      <div class="col s12 m4 l4">

      </div>
      <div class="col s12 m8 l8" data-aos="fade-left">
          <h3 id="home-tag" class="space-bottom">A lens into the objects designed, molded and produced by Lucas Zapico</h3>
          <p class="text-body-lg type-two">Driven to communicate value and information through inquisitive stories, potent visuals and efficient systems.</p>
          <a class='text-body-lg link link-light' href='{{site.baseurl}}/about/'>more about Lucas</a>
      </div>


    </div>

  </section>
  <section class="projects scrollspy container space-row">

    <div class="row">
      <a name="projects"></a>
      <h3>Projects</h3>
      {% for projects in site.data.projects limit: 6 %}
        {% if projects.status == "live" %}
      <div class="col s12 m6 l4">
        <div class="card light-grey darken-1">
          <div class="card-image waves-effect waves-block waves-light">
            <img srcset="{{site.baseurl}}{{projects.card-img-1x}},
                        {{site.baseurl}}{{projects.card-img-2x}},
                        {{site.baseurl}}{{projects.card-img-3x}}
                        {{site.baseurl}}{{projects.card-img-4x}}"
                        alt="{{projects.card-alt}}"
                        class="activator" />
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">{{ projects.title }}<i class="material-icons right">more_vert</i></span>
            <!-- <div class="">
              <strong>
          Tags:
          {% for tag in projects.tags %}
          <span class="tags">
            {{ tag }}
          </span>
          {% endfor %}
          </strong>
            </div> -->

            <!-- <p><a href="#">This is a link</a></p> -->
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">{{projects.title}}<i class="material-icons right">close</i></span>
            <p>{{ projects.description | truncatewords: 20 }}<a href="{{site.baseurl}}{{projects.project-link}}">...more</a></p>
          </div>

          <div class="card-action">
            <!-- {% if projects.offical-link != null %}
            <a href="{{projects.offical-link}}" class="center link">Offical Site</a> {% endif %}  -->
            {% if projects.project-link != null %}
            <!-- <a href="{{site.baseurl}}{{projects.project-link}}" class="link center">Project&#8209Summary</a> {% endif %} -->
          </div>
        </div>
      </div>
        {% endif %}
      {% endfor %}
      <!-- <a class="btn-large btn-flat" href="{{site.baseurl}}/all-projects/">See All Projects</a> -->
    </div>
  </section>
  <section class="container">
    <div class="row">
    <h3>Workshop</h3>
    <div class="col 12 m6 l6">
      <h6 class="grey-text text-darken-1"><em>
  Hop over to the <a class="link" href="https://codepen.io/dashboard/">codepen</a> to see inside the workshop. This is where Lucas tests and plays around before building in production.</em></h6>
  <h6 class="grey-text text-darken-1"><em>It's just good practice to test in a simplified/controlled environment</em></h6>
    </div>
  </div>
    <div class="row">
      <div class="col s12 m4 l4">
        <p data-height="265" data-theme-id="0" data-slug-hash="XZMLoJ" data-default-tab="result" data-user="LucasZapico" data-pen-title="module: portfolio project" class="codepen">See the Pen <a href="https://codepen.io/LucasZapico/pen/XZMLoJ/">module: portfolio project</a> by lucas Zapic (<a href="https://codepen.io/LucasZapico">@LucasZapico</a>) on <a href="https://codepen.io">CodePen</a>.</p>
  <script async src="https://static.codepen.io/assets/embed/ei.js"></script>
      </div>
      <div class="col s12 m4 l4">
        <p data-height="265" data-theme-id="0" data-slug-hash="VGpmvE" data-default-tab="result" data-user="LucasZapico" data-pen-title="testimonial-card" class="codepen">See the Pen <a href="https://codepen.io/LucasZapico/pen/VGpmvE/">testimonial-card</a> by lucas Zapic (<a href="https://codepen.io/LucasZapico">@LucasZapico</a>) on <a href="https://codepen.io">CodePen</a>.</p>
    <script async src="https://static.codepen.io/assets/embed/ei.js"></script>
      </div>
      <div class="col s12 m4 m4">
        <p data-height="265" data-theme-id="0" data-slug-hash="GQKZVy" data-default-tab="result" data-user="LucasZapico" data-pen-title="Alex's card flip style mock" class="codepen">See the Pen <a href="https://codepen.io/LucasZapico/pen/GQKZVy/">Alex's card flip style mock</a> by lucas Zapic (<a href="https://codepen.io/LucasZapico">@LucasZapico</a>) on <a href="https://codepen.io">CodePen</a>.</p>
<script async src="https://static.codepen.io/assets/embed/ei.js"></script>
      </div>

    </div>
    </div>

  </section>
  <section id="pulse" class="projects container scrollspy space-row">
    <div class="row pulse ">
      <div class="col s12 m8 l8">
        <a ></a>
        <h3>Pulse</h3>
        <h6 class="grey-text text-darken-1"><em>A feed of drafts, productions, concept, and strategy</em></h6>
        {% for post in site.posts %}
        <div class="post">
          <a href="{{ site.baseurl }}{{ post.url }}">
          <div class="row">
            <div class="col s6 m6 l6">
              <h5>{{ post.title }}</h5>
              <em><h6 class="grey-text text-darken-2 type-two">{{ post.caption }}</h6></em>
            </div>
            <div class="s6 m6 l6">
              {% if post.card-img != null %}
              <img alt="{{ post.card-img-alt }}" src="{{site.baseurl}}{{post.card-img}}"
              {% endif %}
            </div>
          </div>
        </a>
          <hr />
        </div>
        {% endfor %}

      </div>
      <div class="col s12 m4 l4">

      </div>
    </div>
  </section>
  {% include get-in-touch.html %}

</div>
<!-- main  -->
