---
layout: default
---
{% include header.html %}

<div class="main">
  <section id="home-hero">
    <!-- <h2>Question</h2>
    <h2>Analyze</h2>
    <h2>Convey</h2> -->
    <img src="{{site.baseurl}}/assets/img/main-hero/main-hero-dark@1x.jpg" />
  </section>
  <section>
    <div class="row">
      <div class="col s12 m6 l6">

      </div>
      <div class="col s12 m6 l6">
          <h3>Luc.Inc is the economic derivative of Lucas Zapico</h3>
          <p class="flow-text type-two">Driven to communicate value and information through inquisitive stories, potent visuals and efficient systems </p>
      </div>

    </div>

  </section>
  <section class="projects container">
    <h3>Projects</h3>
    <div class="row">
      {% for projects in site.data.projects %}
        {% if projects.status == "live" %}
      <div class="col s12 m6 l4">
        <div class="card light-grey darken-1">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="{{site.baseurl}}{{projects.img}}">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">{{ projects.title }}<i class="material-icons right">more_vert</i></span>
            <!-- <div class="indigo-text">
              <strong>
          Tags:
          {% for tag in projects.tags %}
          <span class="tags">
            {{ tag }}
          </span>
          {% endfor %}
          </strong>
            </div> -->

            <!-- <p><a href="#">This is a link</a></p> -->
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">{{projects.title}}<i class="material-icons right">close</i></span>
            <p>{{ projects.description | truncatewords: 20 }}<a href="{{site.baseurl}}{{projects.project-link}}">...more</a></p>
          </div>

          <div class="card-action">
            {% if projects.offical-link != null %}
            <a href="{{projects.offical-link}}" class="center">Offical Site</a> {% endif %} {% if projects.project-link != null %}
            <a href="{{site.baseurl}}{{projects.project-link}}" class="center">Project Summary</a> {% endif %}
          </div>
        </div>
      </div>
        {% endif %}
      {% endfor %}
    </div>
  </section>
  {% include get-in-touch.html %}

</div>
<!-- main  -->
