
nav {
  // display: flex;
  // flex: wrap;
  width: 100%;
  background-color: $storm-tertiary;
  height: 3em;

  ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    li {
        flex: 1 0 auto;
        text-align: center;
        height: 3em;
    }

  }
    a {
    text-transform: uppercase;
    color: $white;
    }

    a:link {
      text-decoration: none;
    }

    a:visited {
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }

    a:active {
        text-decoration: underline;
    }
}
