body {
  // background-color: #ecf0f1;
  background-color: #fafafa;
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  .container {
    background-color: #fafafa;
    main {
      flex: 1 0 auto;
      padding: 1em;

    }
  }
}
