/* Base styles that apply to all menus */
.menu-section {
  padding-bottom: 2em;
  margin-bottom: 2em;
  //border-bottom: 1px solid hsla(210, 0%, 100%, 0.89);
}

.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background: hsla(210, 0%, 100%, 0.89);
}

.menu li a {
  display: block;
  text-decoration: none;
  padding: .6em 1em;
}

.menu li a:hover {
  background: hsla(210, 68%, 37%, 0.69);
  color: #FFFFFF;
}
